html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

* {
  box-sizing: border-box;
  /* -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; */
}

.closable_container {
  background: rgb(202, 194, 194);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.closable_container2 {
  background: rgb(223, 223, 255);
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  color: #d1cfcf91;
}

.closable {
  background: rgb(238, 238, 238);
  width: 33%;
  margin: 20px;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
}

.closable div {
  height: 200px;
  width: 100px;
}

.testul {
  padding-top: 50px;
  width: 50%;
  margin: 5px;
  height: 300px;
}

.testul li {
  margin: 10px;
  background: #d1cfcf;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.c_of_c {
  margin: 10px;
  background: #d1cfcf;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.c {
  margin: 10px;
  background: #cf8989;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.c_in_c {
  margin: 10px;
  background: #000000b2;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.c_in_c_in_c {
  margin: 10px;
  background: #413455;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.c_in_c_in_c_in_c {
  margin: 10px;
  background: #555334;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  padding: 10px;
}

.new_elem {
  height: 100px;
  width: 100px;
  background: rgb(238, 238, 238);
  margin: 20px;
  padding: 20px;
  -webkit-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 17px -2px rgba(0, 0, 0, 0.75);
  word-break: break-all;
}

#add_elem {
  position: absolute;
  top: 0;
  width: 100px;
  height: 40px;
}

/* .remove_btn {
    background: blue
} */

/* .itemize_btn_remove {
    background: #57a300;
} */

/* .close_btn {
    width: 50px;
    height: 50px;
    background: blue
} */

/* 
.itemize_btn_close {
    margin-top: 10px;
    margin-right: 10px;
} */

/* .itemize_btn_close {
    position: absolute;
    top: 0px !important;
    right: 0px !important;
    width: 20px !important;
    height: 20px !important;
    overflow: hidden;
    cursor: pointer;
}

.itemize_btn_close:hover::before,
.itemize_btn_close:hover::after {
    background: #000000;

}

.itemize_btn_close::before,
.itemize_btn_close::after {
    content: "";
    position: absolute;
    height: 1px;
    width: 20px;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: #525252;
    border-radius: 100%;
}

.itemize_btn_close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.itemize_btn_close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
} */